@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Luckiest+Guy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: white;
    scroll-behavior: smooth;
}


/*  TODO: Navigation Bar signup and login button remaining   */
header{
    display: flex;
    background-color: black;
    width: 100%;
    height: 15vh;
    align-items: center;
}
.logo img{
    height: 40%;
    width: 30%;
    
}
.nav{
    display: flex;
    /* padding: 120px; */
    margin-left: 220px;
}
.nav li{
    list-style: none;
    margin: 40px;
    font-size: 18px;
}
.nav li:hover{
    color: yellow;
    transition: ease-in 1.2s;
    cursor: pointer;
    font-weight: 400;
}

/*  TODO: Hero section animation on the introduction remaining */
.hero-section{
    background-color: rgb(24, 23, 23);
    display: flex;
    height: 85vh;
}
.hero-text{
    text-align: center;
    margin: 210px;
    line-height: 40px;
}
.big-text{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
}
.small-text{
    font-size: 24px;
    font-weight: 400;
}

/** Adding the brand that we have car of  */
.collection{
    background-color: rgb(0, 0, 0);
    height: 80vh;
   

}
.collection p{
    text-align: center;
    font-size: 2rem;
    
}
.collect{
    
    text-align: center;
    font-size: 120px;
    background-image: url(./Assets/pexels-pixabay-210053.jpg);
    
    background-size: cover;
    background-clip: text;
    --webkit-background-clip:text;
    color: transparent;
}
.brand-name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
   
}
.brand-name img{
    height: 10%;
    width: 10%;
    margin: 0px 20px;
    
}

/** Choosing the cars from the option  */

.chooseCars{
    height: 180vh;
    background-color: rgb(22, 22, 22);
   
}
.chooseCars h2{
    text-align: center;
    font-size: 60px;
    padding: 20px;
    
}
.chooseCars .box-brand{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}
 .type{
   border: 2px solid white;
   border-radius: 22px;
   height: 350px;
   width: 400px;
   padding: 12px 12px;
   margin: 12px 12px;
   

}
.chooseCars .type img{
    height: 200px;
    width: 400px;
    
}
.chooseCars .type{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.chooseCars .type .gallery{
    color: white;
    background: red;
    border: none;
    width: 90px;
    height: 40px;
    cursor: pointer;
    padding: 8px;
    margin: 30px;
}





